p {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 32px;
  line-height: 1.5;
  font-weight: bold;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}
h1 {
  text-align: center;
}
button {
  text-transform: uppercase;
}
a {
  text-decoration: line-through overline underline;
  text-decoration-color: green;
  text-decoration-style: dashed;
  text-decoration-thickness: 3px;
}
#div {
  color: dodgerblue;
}
.div {
  font-size: 24px;
}
.big-text {
  font-size: 40px;
}
.aqua-text {
  color: aqua;
}
